.welcome {
    font-family: 'Mitr', sans-serif;
    color: #FFAA00;
    font-weight: bold;
}

.logowelcome {
    width: 50%;
    height: auto;
}

.startbtn {
    font-family: 'Mitr', sans-serif;
    margin-top: 15px;
    background-color: #FFAA00;
    border-radius: 15px;
    width: 60%;
    font-size: 15px;
    font-weight: bold;
    border: 3px solid #FFAA00;
}

.getstart {
    color: white;
}

.margintop {
    margin-top: 170px;
}

.margintbtn {
    margin-top: 50px;
}

.slogans {
    font-family: 'Mitr', sans-serif;
    color: #333333;
    font-size: 18px;
}

@media only screen and (max-width: 1024px) {
    .margintop {
        margin-top: 200px;
    }
    .logowelcome {
        width: 30%;
        height: auto;
    }
    .slogans {
        font-size: 30px;
    }
    .startbtn {
        font-size: 36px;
    }
    .welcome {
        font-size: 34px;
    }
}

@media only screen and (max-width: 768px) {
    .margintop {
        margin-top: 150px;
    }
    .logowelcome {
        width: 30%;
        height: auto;
    }
    .slogans {
        font-size: 25px;
    }
    .startbtn {
        font-size: 26px;
    }
    .welcome {
        font-size: 30px;
    }
}

@media only screen and (max-width: 415px) {
    .margintop {
        margin-top: 120px;
    }
    .logowelcome {
        width: 40%;
        height: auto;
    }
    .slogans {
        font-size: 14px;
    }
    .startbtn {
        font-size: 18px;
    }
    .welcome {
        font-size: 30px;
    }
}

@media only screen and (max-width: 376px) {
    .margintop {
        margin-top: 140px;
    }
    .logowelcome {
        width: 40%;
        height: auto;
    }
    .slogans {
        font-size: 14px;
    }
    .startbtn {
        font-size: 18px;
    }
    .welcome {
        font-size: 30px;
    }
}

@media only screen and (max-width: 320px) {
    .margintop {
        margin-top: 100px;
    }
    .logowelcome {
        width: 40%;
        height: auto;
    }
    .slogans {
        font-size: 14px;
    }
    .startbtn {
        font-size: 18px;
    }
    .welcome {
        font-size: 30px;
    }
}