<ons-page id="contact">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center toolbartitle">ติดต่อช่าง
        </div>
    </ons-toolbar>
    <div class="container MT50 ">
        <div class="container">
            <div id="Tcontact" class="text-center"></div>
            <div class="MT50">
                <div id="showComment"></div>
            </div>
            <div  class="text-center">            
                <button type="button" class="btn btnContact buttondetail" id="goContact" >ติดต่อช่าง</button>
            </div>
        </div>
</ons-page>