<ons-page id="history">
    <!-- <ons-navigator swipeable id="Navigator_profile" page="history.html"></ons-navigator> -->
    <template id="history.html">
        <ons-page id="history">
            <ons-toolbar>
                <div class="center toolbartitle">
                    ประวัติการใช้บริการ </div>
            </ons-toolbar>
            <div class="container" style="margin-top: 50px;">


                <ons-card>

                    <div class="row">
                        <div class="col-7">
                            ไฟดับ

                        </div>
                        <div class="col-5">
                            ช่างเอก
                        </div>
                    </div>
                    <div style="text-align: right;">กำลังดำเนินงาน</div>
                </ons-card>











            </div>
        </ons-page>
    </template>
</ons-page>