<ons-page id="home">

    <ons-navigator swipeable id="Navigator_home" page="page1.html"></ons-navigator>
    <template id="page1.html">

        <ons-page id="page1">
            <ons-toolbar>
                <div class="center toolbartitle">
                    หน้าแรก </div>
            </ons-toolbar>


            <div class="headertitle mt-5">
                ช่างยอดนิยม </div>
            <ons-carousel swipeable auto-scroll overscrollable id="" style="text-align: center;">
                <div id="popular"> </div>
            </ons-carousel>



            <div class="headertitle">
                ช่างยอดนิยม </div>
            <ons-carousel swipeable auto-scroll overscrollable id="" style="text-align: center;">
                <div id="near"> </div>

            </ons-carousel>


          
            <div class="headertitle">
                ประเภท </div>
            <div class="seeAll mt-3">ดูทั้งหมด...</div>
            <div class="container mb-5">
                <div class="row" style="padding-right: 20px;">
                    <div class="col-4">
                        <ons-card style="width: 100%;" class="cardBG">
                            <div class="menuHome">
                                ช่างไฟฟ้า </div>

                        </ons-card>
                    </div>
                    <div class="col-4">
                        <ons-card style="width: 100%;" class="cardBG">
                            <div class="menuHome">
                                ช่างประปา </div>

                        </ons-card>
                    </div>
                    <div class="col-4">
                        <ons-card style="width: 100%;" class="cardBG">
                            <div class="menuHome">
                                ช่างแอร์ </div>

                        </ons-card>
                    </div>
                </div>
                <div class="row" style="padding-right: 20px;">
                    <div class="col-4">
                        <ons-card style="width: 100%;" class="cardBG">
                            <div class="menuHome">
                                ช่างหลังคา </div>

                        </ons-card>
                    </div>
                    <div class="col-4">
                        <ons-card style="width: 100%;" class="cardBG">
                            <div class="menuHome">
                                ช่างไม้ </div>

                        </ons-card>
                    </div>
                    <div class="col-4">
                        <ons-card style="width: 100%;" class="cardBG">
                            <div class="menuHome">
                                ช่างเชื่อม </div>

                        </ons-card>
                    </div>
                </div>
            </div>



        </ons-page>
    </template>

</ons-page>