<ons-page id="profile">
    <ons-navigator swipeable id="Navigator_profile" page="profile.html"></ons-navigator>
    <template id="profile.html">
    <ons-page id="profile">
      <ons-toolbar>
        <div class="center toolbartitle">
          ข้อมูลส่วนตัว </div>
      </ons-toolbar>


      <div class="container MT50 text-center">


        <img src="/image/1-intro-photo-final.jpg" alt="" style="border-radius: 50%; width: 50%; height: 150px;    border: 3px solid #FFAA00;
        ">

        <div class="mt-3"> Sharif </div>


        <ons-list class="mt-5">

          <ons-list-item>
            <ons-icon icon="fa-wallet" style="color: #FFAA00; font-size: 30px;">
            </ons-icon>
            <div class="pl-2"> ยอดเงินคงเหลือ : <span style="color: #FFAA00; text-align: center;">500</span></div>

          </ons-list-item>



          <ons-list-header class="profileHeader">บัญชี</ons-list-header>
          <ons-list-item tappable>แก้ไขข้อมูล</ons-list-item>
          <ons-list-item tappable>เปลี่ยนรหัสผ่าน</ons-list-item>
          <ons-list-item tappable id="changeLanguage">เปลี่ยนภาษา</ons-list-item>
          <ons-list-item tappable id="setting">ตั้งค่าแอปพลิเคชั่น</ons-list-item>



          <ons-list-header class="profileHeader">อื่นๆ</ons-list-header>
          <ons-list-item tappable id="privacy">นโยบายความเป็นส่วนตัว</ons-list-item>
          <ons-list-item tappable  id="service">ตัวกำหนดการให้บริการ</ons-list-item>

          <ons-list-item tappable style="color: red;">ออกจากระบบ</ons-list-item>


      </div>








    </ons-page>
  </template>
</ons-page>