<ons-page id="search">

    <ons-toolbar>
        <div class="center">
            SEARCH </div>
    </ons-toolbar>

    <p style="text-align: center; margin-top: 20px;">
        <ons-search-input placeholder="ค้นหาช่าง" onchange="ons.notification.alert('Searched for: ' + this.value)" class="searchSize">
        </ons-search-input>
    </p>


    <ons-list-item>
        <ons-card style="width: 100%;">
            <div class="title">
                ช่างไฟฟ้า </div>

        </ons-card>
    </ons-list-item>

    <ons-list-item>
        <ons-card style="width: 100%; background-color: black;">
            <div class="title">
                ช่างปะปา </div>

        </ons-card>
    </ons-list-item>
    <ons-list-item>
        <ons-card style="width: 100%;">
            <div class="title">
                ช่างไม้ </div>

        </ons-card>
    </ons-list-item>




</ons-page>